{%extends 'navbar.html' %}
{% block title%}resetPassword{% endblock title%}
{%block body %}
<div class="container text-center py-4 mx-500">
  <div class="card " style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Reset Password</h5>
      <p class="card-text">Enter your registered Email <br>we will provide you a link to reset your password </p>
      <form class="form" method="POST">  
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

<!-- <form class="form" method="POST">  
  {%csrf_token%}
  {{form.as_p}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
</div>

{%endblock body %}